.headerContainer{
  display:flex;
  height: 100%;
}

.headerText{
  flex: 1 1 auto;
  margin: 7px 30px;
  text-align: left;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3), -1px -1px 3px rgba(255,255,255,0.4);
}

.closeSettingsButtonContainer{
  flex: 0 0 auto;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeSettingsButton{
  height: 60px;
  width:60px;
  border-radius: 50%;
  font-size: 40px;
  font-weight: bolder;
}

.theme_dark{
  color:ghostwhite;
  background-color: rgb(31, 31, 31);
  transition: background-color 0.5s linear;

  .gridContainer{
    background-color: rgb(64, 64, 64);
    transition: background-color 0.5s linear;
  }
  .headerContainer{
    background-color: #313131; 
    transition: background-color 0.5s linear;
  }
  .headerText{
    color:rgb(209, 153, 0);
  }
}
.theme_light{
  color:black;
  background-color: rgb(209, 209, 209);
  transition: background-color 0.5s linear;
  
  .gridContainer{
    background-color: white;
    transition: background-color 0.5s linear;
  }
  .headerContainer{
    background-color: #c0c0c0; 
    transition: background-color 0.5s linear;
  }
  .headerText{
    color:rgb(82, 82, 82);
  }
}
