.filterCell {
  display:flex;
  justify-content: center;
}

.filterCell_dark{
  composes:filterCell;
  background-color: rgb(126,126,126);
}
.filterCell_light{
  composes:filterCell;
  background-color: rgb(220,220,220);
}