
.theme_dark{
  color:ghostwhite;
  background-color: rgb(31, 31, 31);
  transition: background-color 0.5s linear;

  .gridContainer{
    background-color: rgb(64, 64, 64);
    transition: background-color 0.5s linear;
  }
}
.theme_light{
  color:black;
  background-color: rgb(209, 209, 209);
  transition: background-color 0.5s linear;
  
  .gridContainer{
    background-color: white;
    transition: background-color 0.5s linear;
  }
}
