.todoListItem{
  list-style-type: none;
  min-height:50px;
  display: flex;
  align-items: center;
  padding:6px 12px;
  margin-bottom:5px;
  border-radius: 15px;
}
.todoListItem_dark{
  composes: todoListItem;
  background-color: rgb(126, 126, 126);
  
  .todoText_done{
    color:rgb(206, 206, 206);
  }
}
.todoListItem_light{
  composes: todoListItem;
  background-color: gainsboro;
  
  .todoText_done{
    color:gray;
  }
}

.checkboxContainer{
  flex: 0 0 auto;
  display:flex;
  justify-content: center;
  width: 50px;
}
.todoText{
  flex: 1 1 auto;
  font-size: 30px;
  margin:0;
  padding-left:10px;
}
.todoText_done{
  composes: todoText;
  text-decoration: line-through;
}
.deleteButtonContainer
.archiveButtonContainer{
  flex: 0 0 auto;
  display:flex;
  justify-content: center;
  width: 50px;
}
.deleteButton,
.archiveButton{
  min-width:60px;
  padding:0;
}
.deleteButton{
  margin-right:8px;
}