.headerContainer{
  display:flex;
  height: 100%;
}
.headerContainer_dark{
  composes: headerContainer;
  background-color: #313131; 

  .headerText{
    color:rgb(209, 153, 0);
  }
}
.headerContainer_light{
  composes: headerContainer;
  background: #c0c0c0; 
  
  .headerText{
    color:rgb(82, 82, 82);
  }
}

.headerText{
  flex: 1 1 auto;
  margin: 7px 30px;
  text-align: left;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3), -1px -1px 3px rgba(255,255,255,0.4);
}

.openSettingsButtonContainer{
  flex: 0 0 auto;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.openSettingsButton{
  height: 60px;
  width:60px;
  border-radius: 50%;
  font-size: 40px;
  font-weight: bolder;
  padding:5px;
}

